upstream api {
    server api:${API_PORT};
}


server {
    listen       ${NGINX_API_PORT};
    server_name  localhost;

    access_log  /var/log/nginx/api.access.log  main;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://api;
    }
}
